body {
  margin: 0px;
  background-color: powderblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  border: 5px solid hotpink (118, 0, 233, 0.375);
  background-image: url(https://www.google.com/imgres?imgurl=https://images.fanart.tv/bigpreview/strawberry-shortcake-moonlight-mysteries-5b002cc0714f6.jpg&imgrefurl=https://fanart.tv/movie/331434/strawberry-shortcake-moonlight-mysteries/&h=225&w=400&tbnid=v4h7wqbROOlbcM&tbnh=168&tbnw=300&osm=1&hcb=1&source=lens-native&docid=0xO_Ron3axCPsM);
}

img { 
  display: none;
}

